[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart={{k8s_bin_dir}}/kube-proxy \
  --master=https://{{hostvars[inventory_hostname]['ansible_' + k8s_interface].ipv4.address}}:6443 \
  --kubeconfig={{k8s_kubelet_conf_dir}}/kubeconfig \
  --proxy-mode=iptables \
  --v=2

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
