#jinja2: trim_blocks:False
{%- set k8s_api_server = groups['k8s_controller']|first -%}
{%- set k8s_api_server_ip = hostvars[k8s_api_server]['ansible_' + k8s_interface].ipv4.address -%}

{%- set x=k8s_worker_kubeproxy_settings.__setitem__('bind-address',hostvars[inventory_hostname]['ansible_' + k8s_interface].ipv4.address) -%}

[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart={{k8s_bin_dir}}/kube-proxy \
{%- for setting in k8s_worker_kubeproxy_settings|sort %}
  --{{setting}}={{k8s_worker_kubeproxy_settings[setting]}} {% if not loop.last %}\{% endif %}
{%- endfor %}

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
